header{
    position: relative;
    top: 0;
    left: 0;
    width:100%;
    background-color: #1e1f22;
    color: white;
    display: flex;
    justify-content: space-between;

    div{
        display: flex;
        align-items: center;
    }

    h2{
        margin: 1rem;
    }

    .pfp{
        padding: 1rem;
        border-left: 1px white solid;
    }

    img{
        background-color: #ff0000;
        height: 4rem;
        width: 4rem;
        text-align: center;
        border-radius: 50%;
    }
}

main{
    display: flex;
    width: 100%;

    input{
        border: #1e1f22 1px solid;
        border-radius: 5px;
        font-size: 1.2rem;
        padding: 0.5rem;
        width: 30rem;
    }

    button{
        width: 10rem;
        height: 3rem;
        align-self: center;
    }
}

.main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1.5rem;
}

.navbar{
    width: 10%;
    border-right: #1e1f22 1px solid;

    nav{
        height: 89vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

li{
    list-style: none;
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
    cursor: pointer;
}


