header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1e1f22;
    color: white;
    display: flex;
    justify-content: space-between;
}

header div {
    display: flex;
    align-items: center;
}

header h2 {
    margin: 1rem;
}

header img {
    width: 4rem;
    height: 4rem;
    text-align: center;
}

.cloudLogo img {
    border-radius: 100%;
    padding-right: 0.7rem;
}

.pfp img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 1.2rem;
}

.pfp img:hover {
    border-color: #04c8ea;
}

main {
    display: flex;
    width: 100%;
}

main input {
    border: #1e1f22 1px solid;
    background: #f5f5f7;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 30rem;
}

main button {
    width: 10rem;
    height: 3rem;
    align-self: center;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1.5rem;
}

/* SIDEBAR */
.sidebar {
    width: 180px;
    height: 170%;
    background: #ffffff;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* MENU */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding: 5px 10px;
    background: #f5f5f7;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
    display: flex;
    align-items: center;
}

.menu-item:hover {
    background: #dfeaff;
}

.menu-item.active {
    background: #bdd7ff;
    font-weight: bold;
}

/* STORAGE BOX */
.storage-box {
    background: #f6f6f6;
    padding: 15px;
    border-radius: 14px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
}

.storage-box h4 {
    margin: 0 0 10px 0;
}

.storage-bar {
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
}

.storage-fill {
    width: 12%;
    height: 100%;
    background: #4a8cff;
    border-radius: 10px;
    transition: width 0.5s;
}

.storage-info {
    font-size: 14px;
    color: #555;
}


li {
    list-style: none;
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
    cursor: pointer;
}

.header-right {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    right: 0.4rem;
    top: 4.5rem;
    background: #2a2b2e;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    border: 1px solid #444;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.dropdown-menu p {
    margin: 0;
    cursor: pointer;
}

.dropdown-menu :hover {
    color: #58a6ff;
}

